[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
black = "*"
isort = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
statsmodels = "*"
pmdarima = "*"
prophet = "*"
scikit-learn = "*"
plotly = "*"
nixtla = "*"

[requires]
python_version = "3.12"

[dev-packages]
